<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="alert alert-primary" role="alert">
        <a href="/listdb" class="alert-link">List the database</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/newuser" class="alert-link">Register a new User</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/login" class="alert-link">Login User</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/logout" class="alert-link">Logout User</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/searchuser" class="alert-link">Search Users</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/newalbum" class="alert-link">New Album</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/addusertoalbum" class="alert-link">Add an User to an album</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/getalbums" class="alert-link">List a users albums</a>
      </div>
      <div class="alert alert-primary" role="alert">
        <a href="/setsliceurl" class="alert-link">Set a slice url</a>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>