<html>
  <div id="template" class="panel panel-info" style="max-height: 100%;">
    <div class="panel-heading" style="font-size: 23px;">
    <span id="name"></span>
    <a href="#" class="btn btn-danger" onclick="interface.removePopUp()" style="width: 27px; height: 27px; padding: 0; font-size: 16px; margin: 2px; position:absolute; left: 85%;">×</a>
    </div>
    <div id="tempBody" style="max-height: 800px ;overflow-y: none;">
      <div id="caracteristicas" class="default">
        <h3 id="price" style= "text-align: center"></h3>
        <hr>
      <div id="acompanhamentos">
        
      </div>
      
      </div>
      <div class="panel-body">
        <div class="btn-group btn-group-justified" id="botoes">
        <a href="#" class="btn btn-success" onclick="interface.removePopUp()" >Ok</a>
        </div>
      </div>
    </div>
  </div>
</html>