<html>
  <div id="template" class="panel panel-info" style="max-height: 100%;">
    <div class="panel-heading" style="font-size: 23px;">
    <span id="name"></span>
    <a href="#" class="btn btn-danger" onclick="interface.removePopUp()" style="width: 27px; height: 27px; padding: 0; font-size: 16px; margin: 2px; position:absolute; left: 85%;">×</a>
    </div>
    <div id="tempBody" style="max-height: 500px ;overflow-y: scroll;">

      <div id="caracteristicas" class="default">
        <h4 id="price" style= "text-align: center"></h4>
        <hr>
      <div id="acompanhamentos">
        
      </div>
      
        <p style="text-align: center">Quantidade</p>
        <div class="btn-group btn-group-justified" style="width:60%; left: 20%;">
          <a href="#" class="btn btn-warning" id="minus" onclick="minus()" style="padding: 0;font-size: 25px;">&minus;</a>
          <a href="#" class="btn btn-default disabled" id= "counter">1</a>
          <a href="#" class="btn btn-warning" id="plus" onclick="plus()" style="padding: 0; font-size:25px">&plus;</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="btn-group btn-group-justified" id="botoes">
        </div>
      </div>
    </div>
  </div>
</html>
