<html>
  <div id="template" class="panel panel-info" style="max-height: 100%;">
    <div id="name" class="panel-heading">
    </div>
    <div id="tempBody" style="max-height: 270px ;overflow-y: scroll;">

      <div id="caracteristicas" class="default">
        <h3 id="price" style= "text-align: center"></h3>
        <hr>
      <div id="acompanhamentos">
        
      </div>
      
        <p style="text-align: center">Quantidade</p>
        <div class="btn-group btn-group-justified" style="width:60%; left: 20%;">
          <a href="#" class="btn btn-warning" id="minus" onclick="minus()" style="padding: 0;font-size: 25px;">&minus;</a>
          <a href="#" class="btn btn-default disabled" id= "counter">1</a>
          <a href="#" class="btn btn-warning" id="plus" onclick="plus()" style="padding: 0; font-size:25px">&plus;</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="btn-group btn-group-justified" id="botoes">
        </div>
      </div>
    </div>
  </div>
</html>

