<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmov.tecnico.ulisboa.pt.p2photo">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".wifidirect.activities.WifiDirectGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".wifidirect.activities.TestActivity" />
        <activity android:name=".gallery.activities.ShowPhotoActivity" />
        <activity android:name=".ListUsersActivity" />
        <activity android:name=".wifidirect.activities.WiFiDirectActivity" />
        <activity android:name=".NewAlbumActivity" />
        <activity android:name=".LogoutActivity" /> <!-- ACTIVITIES -->
        <activity
            android:name=".p2lib.cloud.UserActivity"
            android:label="Dropbox Accout"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".gallery.activities.DropboxGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gallery.activities.LocalPhotosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".p2lib.cloud.FilesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-momes2aooyaxqg0" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="p2lib.cloud.gallery.Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmov.tecnico.ulisboa.pt.p2photo.LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- PROVIDERS -->
        <provider
            android:name=".gallery.p2lib.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- Used for transferring files  after a successful connection -->
        <service
            android:name=".wifidirect.services.FileTransferService"
            android:enabled="true" />
    </application>

</manifest>